body{
    margin:10px
}
.width-85{
    width: 85%;
}
.m-left-20 {
    margin-left: 20px;
}

.list-group {
    list-style-type: none;
    margin: 1% 0;
    width: 83.25%;
}

.list-group li {
    border-radius: 6px;
    margin-bottom: 10px;
}
.form-check-input{
    z-index: 100;
    position: relative;
}
.list-group li span {
    min-width: 91%;
    display: inline-flex;
    justify-content: flex-start;
}

.badge {
    cursor: pointer;
    border: none;
}